[class^="flag-icon-"],
[class*=" flag-icon-"] {
  background-image: url(assets/static/flag-icon-spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  bottom: 6px;
}
.flag-icon-AD {
  width: 24px;
  height: 24px;
  background-position: -2px -2px;
}
.flag-icon-AE {
  width: 24px;
  height: 24px;
  background-position: -30px -2px;
}
.flag-icon-AF {
  width: 24px;
  height: 24px;
  background-position: -58px -2px;
}
.flag-icon-AG {
  width: 24px;
  height: 24px;
  background-position: -86px -2px;
}
.flag-icon-AI {
  width: 24px;
  height: 24px;
  background-position: -114px -2px;
}
.flag-icon-AL {
  width: 24px;
  height: 24px;
  background-position: -142px -2px;
}
.flag-icon-AM {
  width: 24px;
  height: 24px;
  background-position: -170px -2px;
}
.flag-icon-AO {
  width: 24px;
  height: 24px;
  background-position: -198px -2px;
}
.flag-icon-AR {
  width: 24px;
  height: 24px;
  background-position: -226px -2px;
}
.flag-icon-AS {
  width: 24px;
  height: 24px;
  background-position: -254px -2px;
}
.flag-icon-AT {
  width: 24px;
  height: 24px;
  background-position: -282px -2px;
}
.flag-icon-AU {
  width: 24px;
  height: 24px;
  background-position: -310px -2px;
}
.flag-icon-AW {
  width: 24px;
  height: 24px;
  background-position: -338px -2px;
}
.flag-icon-AX {
  width: 24px;
  height: 24px;
  background-position: -366px -2px;
}
.flag-icon-AZ {
  width: 24px;
  height: 24px;
  background-position: -394px -2px;
}
.flag-icon-BA {
  width: 24px;
  height: 24px;
  background-position: -2px -30px;
}
.flag-icon-BB {
  width: 24px;
  height: 24px;
  background-position: -30px -30px;
}
.flag-icon-BD {
  width: 24px;
  height: 24px;
  background-position: -58px -30px;
}
.flag-icon-BE {
  width: 24px;
  height: 24px;
  background-position: -86px -30px;
}
.flag-icon-BF {
  width: 24px;
  height: 24px;
  background-position: -114px -30px;
}
.flag-icon-BG {
  width: 24px;
  height: 24px;
  background-position: -142px -30px;
}
.flag-icon-BH {
  width: 24px;
  height: 24px;
  background-position: -170px -30px;
}
.flag-icon-BI {
  width: 24px;
  height: 24px;
  background-position: -198px -30px;
}
.flag-icon-BJ {
  width: 24px;
  height: 24px;
  background-position: -226px -30px;
}
.flag-icon-BL {
  width: 24px;
  height: 24px;
  background-position: -254px -30px;
}
.flag-icon-BM {
  width: 24px;
  height: 24px;
  background-position: -282px -30px;
}
.flag-icon-BN {
  width: 24px;
  height: 24px;
  background-position: -310px -30px;
}
.flag-icon-BO {
  width: 24px;
  height: 24px;
  background-position: -338px -30px;
}
.flag-icon-BQ {
  width: 24px;
  height: 24px;
  background-position: -366px -30px;
}
.flag-icon-BR {
  width: 24px;
  height: 24px;
  background-position: -394px -30px;
}
.flag-icon-BS {
  width: 24px;
  height: 24px;
  background-position: -2px -58px;
}
.flag-icon-BT {
  width: 24px;
  height: 24px;
  background-position: -30px -58px;
}
.flag-icon-BV {
  width: 24px;
  height: 24px;
  background-position: -58px -58px;
}
.flag-icon-BW {
  width: 24px;
  height: 24px;
  background-position: -86px -58px;
}
.flag-icon-BY {
  width: 24px;
  height: 24px;
  background-position: -114px -58px;
}
.flag-icon-BZ {
  width: 24px;
  height: 24px;
  background-position: -142px -58px;
}
.flag-icon-CA {
  width: 24px;
  height: 24px;
  background-position: -170px -60px;
}
.flag-icon-CC {
  width: 24px;
  height: 24px;
  background-position: -198px -58px;
}
.flag-icon-CD {
  width: 24px;
  height: 24px;
  background-position: -226px -58px;
}
.flag-icon-CF {
  width: 24px;
  height: 24px;
  background-position: -254px -58px;
}
.flag-icon-CG {
  width: 24px;
  height: 24px;
  background-position: -282px -58px;
}
.flag-icon-CH {
  width: 24px;
  height: 24px;
  background-position: -310px -58px;
}
.flag-icon-CI {
  width: 24px;
  height: 24px;
  background-position: -338px -58px;
}
.flag-icon-CK {
  width: 24px;
  height: 24px;
  background-position: -366px -58px;
}
.flag-icon-CL {
  width: 24px;
  height: 24px;
  background-position: -394px -58px;
}
.flag-icon-CM {
  width: 24px;
  height: 24px;
  background-position: -2px -86px;
}
.flag-icon-CN {
  width: 24px;
  height: 24px;
  background-position: -30px -86px;
}
.flag-icon-CO {
  width: 24px;
  height: 24px;
  background-position: -58px -86px;
}
.flag-icon-CR {
  width: 24px;
  height: 24px;
  background-position: -86px -86px;
}
.flag-icon-CU {
  width: 24px;
  height: 24px;
  background-position: -114px -86px;
}
.flag-icon-CV {
  width: 24px;
  height: 24px;
  background-position: -142px -86px;
}
.flag-icon-CW {
  width: 24px;
  height: 24px;
  background-position: -170px -86px;
}
.flag-icon-CX {
  width: 24px;
  height: 24px;
  background-position: -198px -86px;
}
.flag-icon-CY {
  width: 24px;
  height: 24px;
  background-position: -226px -86px;
}
.flag-icon-CZ {
  width: 24px;
  height: 24px;
  background-position: -254px -86px;
}
.flag-icon-DE {
  width: 24px;
  height: 24px;
  background-position: -282px -86px;
}
.flag-icon-DJ {
  width: 24px;
  height: 24px;
  background-position: -310px -86px;
}
.flag-icon-DK {
  width: 24px;
  height: 24px;
  background-position: -338px -86px;
}
.flag-icon-DR {
  width: 24px;
  height: 24px;
  background-position: -366px -86px;
}
.flag-icon-DO {
  width: 24px;
  height: 24px;
  background-position: -394px -88px;
}
.flag-icon-DZ {
  width: 24px;
  height: 24px;
  background-position: -2px -114px;
}
.flag-icon-EC {
  width: 24px;
  height: 24px;
  background-position: -30px -114px;
}
.flag-icon-EE {
  width: 24px;
  height: 24px;
  background-position: -58px -114px;
}
.flag-icon-EG {
  width: 24px;
  height: 24px;
  background-position: -86px -114px;
}
.flag-icon-ER {
  width: 24px;
  height: 24px;
  background-position: -114px -114px;
}
.flag-icon-ES {
  width: 24px;
  height: 24px;
  background-position: -142px -114px;
}
.flag-icon-ET {
  width: 24px;
  height: 24px;
  background-position: -170px -114px;
}
.flag-icon-FI {
  width: 24px;
  height: 24px;
  background-position: -198px -114px;
}
.flag-icon-FJ {
  width: 24px;
  height: 24px;
  background-position: -226px -114px;
}
.flag-icon-FK {
  width: 24px;
  height: 24px;
  background-position: -254px -114px;
}
.flag-icon-FM {
  width: 24px;
  height: 24px;
  background-position: -282px -114px;
}
.flag-icon-FO {
  width: 24px;
  height: 24px;
  background-position: -310px -114px;
}
.flag-icon-FR {
  width: 24px;
  height: 24px;
  background-position: -338px -114px;
}
.flag-icon-GA {
  width: 24px;
  height: 24px;
  background-position: -366px -114px;
}
.flag-icon-GB {
  width: 24px;
  height: 24px;
  background-position: -394px -114px;
}
.flag-icon-GD {
  width: 24px;
  height: 24px;
  background-position: -2px -142px;
}
.flag-icon-GE {
  width: 24px;
  height: 24px;
  background-position: -30px -142px;
}
.flag-icon-GF {
  width: 24px;
  height: 24px;
  background-position: -58px -142px;
}
.flag-icon-GG {
  width: 24px;
  height: 24px;
  background-position: -86px -142px;
}
.flag-icon-GH {
  width: 24px;
  height: 24px;
  background-position: -114px -142px;
}
.flag-icon-GI {
  width: 24px;
  height: 24px;
  background-position: -142px -142px;
}
.flag-icon-GL {
  width: 24px;
  height: 24px;
  background-position: -170px -142px;
}
.flag-icon-GM {
  width: 24px;
  height: 24px;
  background-position: -198px -142px;
}
.flag-icon-GN {
  width: 24px;
  height: 24px;
  background-position: -226px -142px;
}
.flag-icon-GP {
  width: 24px;
  height: 24px;
  background-position: -254px -142px;
}
.flag-icon-GQ {
  width: 24px;
  height: 24px;
  background-position: -282px -142px;
}
.flag-icon-GR {
  width: 24px;
  height: 24px;
  background-position: -310px -142px;
}
.flag-icon-GS {
  width: 24px;
  height: 24px;
  background-position: -338px -142px;
}
.flag-icon-GT {
  width: 24px;
  height: 24px;
  background-position: -366px -142px;
}
.flag-icon-GU {
  width: 24px;
  height: 24px;
  background-position: -394px -142px;
}
.flag-icon-GW {
  width: 24px;
  height: 24px;
  background-position: -2px -170px;
}
.flag-icon-GY {
  width: 24px;
  height: 24px;
  background-position: -30px -170px;
}
.flag-icon-HK {
  width: 24px;
  height: 24px;
  background-position: -58px -170px;
}
.flag-icon-HN {
  width: 24px;
  height: 24px;
  background-position: -86px -170px;
}
.flag-icon-HR {
  width: 24px;
  height: 24px;
  background-position: -114px -170px;
}
.flag-icon-HT {
  width: 24px;
  height: 24px;
  background-position: -142px -170px;
}
.flag-icon-HU {
  width: 24px;
  height: 24px;
  background-position: -170px -170px;
}
.flag-icon-ID {
  width: 24px;
  height: 24px;
  background-position: -198px -170px;
}
.flag-icon-IE {
  width: 24px;
  height: 24px;
  background-position: -226px -170px;
}
.flag-icon-IL {
  width: 24px;
  height: 24px;
  background-position: -254px -170px;
}
.flag-icon-IM {
  width: 24px;
  height: 24px;
  background-position: -282px -170px;
}
.flag-icon-IN {
  width: 24px;
  height: 24px;
  background-position: -310px -170px;
}
.flag-icon-IO {
  width: 24px;
  height: 24px;
  background-position: -338px -170px;
}
.flag-icon-IQ {
  width: 24px;
  height: 24px;
  background-position: -366px -170px;
}
.flag-icon-IR {
  width: 24px;
  height: 24px;
  background-position: -394px -170px;
}
.flag-icon-IS {
  width: 24px;
  height: 24px;
  background-position: -2px -198px;
}
.flag-icon-IT {
  width: 24px;
  height: 24px;
  background-position: -30px -198px;
}
.flag-icon-JE {
  width: 24px;
  height: 24px;
  background-position: -58px -198px;
}
.flag-icon-JM {
  width: 24px;
  height: 24px;
  background-position: -86px -198px;
}
.flag-icon-JO {
  width: 24px;
  height: 24px;
  background-position: -114px -198px;
}
.flag-icon-JP {
  width: 24px;
  height: 24px;
  background-position: -142px -198px;
}
.flag-icon-KE {
  width: 24px;
  height: 24px;
  background-position: -170px -198px;
}
.flag-icon-KG {
  width: 24px;
  height: 24px;
  background-position: -198px -198px;
}
.flag-icon-KH {
  width: 24px;
  height: 24px;
  background-position: -226px -198px;
}
.flag-icon-KI {
  width: 24px;
  height: 24px;
  background-position: -254px -198px;
}
.flag-icon-KM {
  width: 24px;
  height: 24px;
  background-position: -282px -198px;
}
.flag-icon-KN {
  width: 24px;
  height: 24px;
  background-position: -310px -198px;
}
.flag-icon-KP {
  width: 24px;
  height: 24px;
  background-position: -338px -198px;
}
.flag-icon-KR {
  width: 24px;
  height: 24px;
  background-position: -366px -198px;
}
.flag-icon-KW {
  width: 24px;
  height: 24px;
  background-position: -394px -198px;
}
.flag-icon-KY {
  width: 24px;
  height: 24px;
  background-position: -2px -226px;
}
.flag-icon-KZ {
  width: 24px;
  height: 24px;
  background-position: -30px -226px;
}
.flag-icon-LA {
  width: 24px;
  height: 24px;
  background-position: -58px -226px;
}
.flag-icon-LB {
  width: 24px;
  height: 24px;
  background-position: -86px -226px;
}
.flag-icon-LC {
  width: 24px;
  height: 24px;
  background-position: -114px -226px;
}
.flag-icon-LI {
  width: 24px;
  height: 24px;
  background-position: -142px -226px;
}
.flag-icon-LK {
  width: 24px;
  height: 24px;
  background-position: -170px -226px;
}
.flag-icon-LR {
  width: 24px;
  height: 24px;
  background-position: -198px -226px;
}
.flag-icon-LS {
  width: 24px;
  height: 24px;
  background-position: -226px -226px;
}
.flag-icon-LT {
  width: 24px;
  height: 24px;
  background-position: -254px -226px;
}
.flag-icon-LU {
  width: 24px;
  height: 24px;
  background-position: -282px -226px;
}
.flag-icon-LV {
  width: 24px;
  height: 24px;
  background-position: -310px -226px;
}
.flag-icon-LY {
  width: 24px;
  height: 24px;
  background-position: -338px -226px;
}
.flag-icon-MA {
  width: 24px;
  height: 24px;
  background-position: -366px -226px;
}
.flag-icon-MC {
  width: 24px;
  height: 24px;
  background-position: -394px -226px;
}
.flag-icon-MD {
  width: 24px;
  height: 24px;
  background-position: -2px -254px;
}
.flag-icon-ME {
  width: 24px;
  height: 24px;
  background-position: -30px -254px;
}
.flag-icon-MG {
  width: 24px;
  height: 24px;
  background-position: -58px -254px;
}
.flag-icon-MH {
  width: 24px;
  height: 24px;
  background-position: -86px -254px;
}
.flag-icon-MK {
  width: 24px;
  height: 24px;
  background-position: -114px -254px;
}
.flag-icon-ML {
  width: 24px;
  height: 24px;
  background-position: -142px -254px;
}
.flag-icon-MM {
  width: 24px;
  height: 24px;
  background-position: -170px -254px;
}
.flag-icon-MN {
  width: 24px;
  height: 24px;
  background-position: -198px -254px;
}
.flag-icon-MO {
  width: 24px;
  height: 24px;
  background-position: -226px -254px;
}
.flag-icon-MP {
  width: 24px;
  height: 24px;
  background-position: -254px -254px;
}
.flag-icon-MQ {
  width: 24px;
  height: 24px;
  background-position: -282px -254px;
}
.flag-icon-MR {
  width: 24px;
  height: 24px;
  background-position: -310px -254px;
}
.flag-icon-MS {
  width: 24px;
  height: 24px;
  background-position: -338px -254px;
}
.flag-icon-MT {
  width: 24px;
  height: 24px;
  background-position: -366px -254px;
}
.flag-icon-MU {
  width: 24px;
  height: 24px;
  background-position: -394px -254px;
}
.flag-icon-MV {
  width: 24px;
  height: 24px;
  background-position: -2px -282px;
}
.flag-icon-MW {
  width: 24px;
  height: 24px;
  background-position: -30px -282px;
}
.flag-icon-MX {
  width: 24px;
  height: 24px;
  background-position: -58px -282px;
}
.flag-icon-MY {
  width: 24px;
  height: 24px;
  background-position: -86px -282px;
}
.flag-icon-MZ {
  width: 24px;
  height: 24px;
  background-position: -114px -282px;
}
.flag-icon-NA {
  width: 24px;
  height: 24px;
  background-position: -142px -282px;
}
.flag-icon-NC {
  width: 24px;
  height: 24px;
  background-position: -170px -282px;
}
.flag-icon-NE {
  width: 24px;
  height: 24px;
  background-position: -198px -282px;
}
.flag-icon-NF {
  width: 24px;
  height: 24px;
  background-position: -226px -282px;
}
.flag-icon-NG {
  width: 24px;
  height: 24px;
  background-position: -254px -282px;
}
.flag-icon-NI {
  width: 24px;
  height: 24px;
  background-position: -282px -282px;
}
.flag-icon-NL {
  width: 24px;
  height: 24px;
  background-position: -310px -282px;
}
.flag-icon-NO {
  width: 24px;
  height: 24px;
  background-position: -338px -282px;
}
.flag-icon-NP {
  width: 24px;
  height: 24px;
  background-position: -366px -282px;
}
.flag-icon-NR {
  width: 24px;
  height: 24px;
  background-position: -394px -282px;
}
.flag-icon-NU {
  width: 24px;
  height: 24px;
  background-position: -2px -310px;
}
.flag-icon-NZ {
  width: 24px;
  height: 24px;
  background-position: -30px -310px;
}
.flag-icon-OM {
  width: 24px;
  height: 24px;
  background-position: -58px -310px;
}
.flag-icon-PA {
  width: 24px;
  height: 24px;
  background-position: -86px -310px;
}
.flag-icon-PE {
  width: 24px;
  height: 24px;
  background-position: -114px -310px;
}
.flag-icon-PF {
  width: 24px;
  height: 24px;
  background-position: -142px -310px;
}
.flag-icon-PG {
  width: 24px;
  height: 24px;
  background-position: -170px -310px;
}
.flag-icon-PH {
  width: 24px;
  height: 24px;
  background-position: -198px -310px;
}
.flag-icon-PK {
  width: 24px;
  height: 24px;
  background-position: -226px -310px;
}
.flag-icon-PL {
  width: 24px;
  height: 24px;
  background-position: -254px -310px;
}
.flag-icon-PM {
  width: 24px;
  height: 24px;
  background-position: -282px -310px;
}
.flag-icon-PN {
  width: 24px;
  height: 24px;
  background-position: -310px -310px;
}
.flag-icon-PR {
  width: 24px;
  height: 24px;
  background-position: -338px -310px;
}
.flag-icon-PS {
  width: 24px;
  height: 24px;
  background-position: -366px -310px;
}
.flag-icon-PT {
  width: 24px;
  height: 24px;
  background-position: -394px -310px;
}
.flag-icon-PW {
  width: 24px;
  height: 24px;
  background-position: -2px -338px;
}
.flag-icon-PY {
  width: 24px;
  height: 24px;
  background-position: -30px -338px;
}
.flag-icon-QA {
  width: 24px;
  height: 24px;
  background-position: -58px -338px;
}
.flag-icon-RE {
  width: 24px;
  height: 24px;
  background-position: -86px -338px;
}
.flag-icon-RO {
  width: 24px;
  height: 24px;
  background-position: -114px -338px;
}
.flag-icon-RS {
  width: 24px;
  height: 24px;
  background-position: -142px -338px;
}
.flag-icon-RU {
  width: 24px;
  height: 24px;
  background-position: -170px -338px;
}
.flag-icon-RW {
  width: 24px;
  height: 24px;
  background-position: -198px -338px;
}
.flag-icon-SA {
  width: 24px;
  height: 24px;
  background-position: -226px -338px;
}
.flag-icon-SB {
  width: 24px;
  height: 24px;
  background-position: -254px -338px;
}
.flag-icon-SC {
  width: 24px;
  height: 24px;
  background-position: -282px -338px;
}
.flag-icon-SD {
  width: 24px;
  height: 24px;
  background-position: -310px -338px;
}
.flag-icon-SE {
  width: 24px;
  height: 24px;
  background-position: -338px -338px;
}
.flag-icon-SG {
  width: 24px;
  height: 24px;
  background-position: -366px -338px;
}
.flag-icon-SH {
  width: 24px;
  height: 24px;
  background-position: -394px -338px;
}
.flag-icon-SI {
  width: 24px;
  height: 24px;
  background-position: -2px -366px;
}
.flag-icon-SK {
  width: 24px;
  height: 24px;
  background-position: -30px -366px;
}
.flag-icon-SL {
  width: 24px;
  height: 24px;
  background-position: -58px -366px;
}
.flag-icon-SM {
  width: 24px;
  height: 24px;
  background-position: -86px -366px;
}
.flag-icon-SN {
  width: 24px;
  height: 24px;
  background-position: -114px -366px;
}
.flag-icon-SO {
  width: 24px;
  height: 24px;
  background-position: -142px -366px;
}
.flag-icon-SR {
  width: 24px;
  height: 24px;
  background-position: -170px -366px;
}
.flag-icon-SS {
  width: 24px;
  height: 24px;
  background-position: -198px -366px;
}
.flag-icon-ST {
  width: 24px;
  height: 24px;
  background-position: -226px -366px;
}
.flag-icon-SV {
  width: 24px;
  height: 24px;
  background-position: -254px -366px;
}
.flag-icon-SX {
  width: 24px;
  height: 24px;
  background-position: -282px -366px;
}
.flag-icon-SY {
  width: 24px;
  height: 24px;
  background-position: -310px -366px;
}
.flag-icon-SZ {
  width: 24px;
  height: 24px;
  background-position: -338px -366px;
}
.flag-icon-TC {
  width: 24px;
  height: 24px;
  background-position: -366px -366px;
}
.flag-icon-TD {
  width: 24px;
  height: 24px;
  background-position: -394px -366px;
}
.flag-icon-TF {
  width: 24px;
  height: 24px;
  background-position: -2px -394px;
}
.flag-icon-TG {
  width: 24px;
  height: 24px;
  background-position: -30px -394px;
}
.flag-icon-TH {
  width: 24px;
  height: 24px;
  background-position: -58px -394px;
}
.flag-icon-TJ {
  width: 24px;
  height: 24px;
  background-position: -86px -394px;
}
.flag-icon-TK {
  width: 24px;
  height: 24px;
  background-position: -114px -394px;
}
.flag-icon-TL {
  width: 24px;
  height: 24px;
  background-position: -142px -394px;
}
.flag-icon-TM {
  width: 24px;
  height: 24px;
  background-position: -170px -394px;
}
.flag-icon-TN {
  width: 24px;
  height: 24px;
  background-position: -198px -394px;
}
.flag-icon-TO {
  width: 24px;
  height: 24px;
  background-position: -226px -394px;
}
.flag-icon-TR {
  width: 24px;
  height: 24px;
  background-position: -254px -394px;
}
.flag-icon-TT {
  width: 24px;
  height: 24px;
  background-position: -282px -394px;
}
.flag-icon-TV {
  width: 24px;
  height: 24px;
  background-position: -310px -394px;
}
.flag-icon-TW {
  width: 24px;
  height: 24px;
  background-position: -338px -394px;
}
.flag-icon-TZ {
  width: 24px;
  height: 24px;
  background-position: -366px -394px;
}
.flag-icon-UA {
  width: 24px;
  height: 24px;
  background-position: -394px -394px;
}
.flag-icon-UG {
  width: 24px;
  height: 24px;
  background-position: -422px -2px;
}
.flag-icon-UM {
  width: 24px;
  height: 24px;
  background-position: -422px -30px;
}
.flag-icon-US {
  width: 24px;
  height: 24px;
  background-position: -422px -60px;
}
.flag-icon-UY {
  width: 24px;
  height: 24px;
  background-position: -422px -86px;
}
.flag-icon-UZ {
  width: 24px;
  height: 24px;
  background-position: -422px -114px;
}
.flag-icon-VA {
  width: 24px;
  height: 24px;
  background-position: -422px -142px;
}
.flag-icon-VC {
  width: 24px;
  height: 24px;
  background-position: -422px -170px;
}
.flag-icon-VE {
  width: 24px;
  height: 24px;
  background-position: -422px -198px;
}
.flag-icon-VG {
  width: 24px;
  height: 24px;
  background-position: -422px -226px;
}
.flag-icon-VI {
  width: 24px;
  height: 24px;
  background-position: -422px -254px;
}
.flag-icon-VN {
  width: 24px;
  height: 24px;
  background-position: -422px -282px;
}
.flag-icon-VU {
  width: 24px;
  height: 24px;
  background-position: -422px -310px;
}
.flag-icon-WF {
  width: 24px;
  height: 24px;
  background-position: -422px -338px;
}
.flag-icon-WS {
  width: 24px;
  height: 24px;
  background-position: -422px -366px;
}
.flag-icon-YE {
  width: 24px;
  height: 24px;
  background-position: -422px -394px;
}
.flag-icon-YT {
  width: 24px;
  height: 24px;
  background-position: -2px -422px;
}
.flag-icon-ZA {
  width: 24px;
  height: 24px;
  background-position: -30px -422px;
}
.flag-icon-ZM {
  width: 24px;
  height: 24px;
  background-position: -58px -422px;
}
.flag-icon-ZW {
  width: 24px;
  height: 24px;
  background-position: -86px -422px;
}
